In [23]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [24]:
dataframe = pd.read_csv("usuarios_win_mac_lin.csv")
dataframe.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [48]:
dataframe.describe()

         duracion     paginas    acciones       valor       clase
count  170.000000  170.000000  170.000000  170.000000  170.000000
mean   111.075729    2.041176    8.723529   32.676471    0.752941
std    202.453200    1.500911    9.136054   44.751993    0.841327
min      1.000000    1.000000    1.000000    1.000000    0.000000
25%     11.000000    1.000000    3.000000    8.000000    0.000000
50%     13.000000    2.000000    6.000000   20.000000    0.000000
75%    108.000000    2.000000   10.000000   36.000000    2.000000
max    898.000000    9.000000   63.000000  378.000000    2.000000

In [49]:
X = np.array(dataframe.drop(['clase'],axis=1))
Y = np.array(dataframe['clase'])
X.shape

(170, 4)

In [53]:
#Asignamos los datos de entrenamiendo y prueba
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state = 123)

In [54]:
#Creamos el modelo de arboles de decisión y lo entrenamos
modelo_arbol = DecisionTreeClassifier()
modelo_arbol.fit(X_train, y_train)

DecisionTreeClassifier()

In [55]:
# Realizar predicciones en el conjunto de prueba y la calculamos
predicciones = modelo_arbol.predict(X_test)
precision = accuracy_score(y_test, predicciones)
print("Precisión del modelo de árboles de decisión:", precision)

Precisión del modelo de árboles de decisión: 0.8529411764705882